@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 217.24 32.58% 17.45%;

    --card: 0 0% 100%;
    --card-foreground: 217.24 32.58% 17.45%;

    --popover: 0 0% 100%;
    --popover-foreground: 217.24 32.58% 17.45%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217.24 32.58% 17.45%;

    --radius: 0.5rem;
  }

  [data-type='error'] {
    --background: 0 85.71% 97.25%; /* red-50 */
    --foreground: 0 62.82% 30.59%; /* red-900 */

    --primary: 0 74.68% 15.49%; /* red-950 */
    --primary-foreground: 0 93.33% 94.12%; /* red-100 */

    --muted: 0 93.33% 94.12%; /* red-100 */
    --muted-foreground: 0 72.22% 50.59%; /* red-600 */

    --border: 0 93.33% 94.12%; /* red-100 */
  }

  [data-type='warning'] {
    --background: 48 100% 96.08%; /* amber-50 */
    --foreground: 21.71 77.79% 26.47%; /* amber-900 */

    --primary: 20.91 91.67% 14.12%; /* amber-950 */
    --primary-foreground: 48 96.49% 88.82%; /* amber-100 */

    --muted: 48 96.49% 88.82%; /* amber-100 */
    --muted-foreground: 40.61 96.12% 40.39%; /* amber-600 */

    --border: 48 96.49% 88.82%; /* amber-100 */
  }

  [data-type='success'] {
    --background: 138.46 76.47% 96.67%; /* green-50 */
    --foreground: 143.81 61.17% 20.2%; /* green-900 */

    --primary: 144.88 80.39% 10%; /* green-950 */
    --primary-foreground: 140.63 84.21% 92.55%; /* green-100 */

    --muted: 140.63 84.21% 92.55%; /* green-100 */
    --muted-foreground: 142.13 76.22% 36.27%; /* green-600 */

    --border: 140.63 84.21% 92.55%; /* green-100 */
  }

  [data-type='info'] {
    --background: 213.75 100% 96.86%; /* blue-50 */
    --foreground: 224.44 64.29% 32.94%; /* blue-900 */

    --primary: 226.23 57.01% 20.98%; /* blue-950 */
    --primary-foreground: 214.29 94.59% 92.75%; /* blue-100 */

    --muted: 214.29 94.59% 92.75%; /* blue-100 */
    --muted-foreground: 200.41 98.01% 39.41%; /* blue-600 */

    --border: 214.29 94.59% 92.75%; /* blue-100 */
  }

  .dark {
    --background: 217.24 32.58% 17.45%;
    --foreground: 210 40% 98%;

    --card: 217.24 32.58% 17.45%;
    --card-foreground: 210 40% 98%;

    --popover: 217.24 32.58% 17.45%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  .dark [data-type='error'] {
    --background: 0 74.68% 15.49%; /* red-950 */
    --foreground: 0 93.33% 94.12%; /* red-100 */

    --primary: 0 85.71% 97.25%; /* red-50 */
    --primary-foreground: 0 62.82% 30.59%; /* red-900 */

    --muted: 0 62.82% 30.59%; /* red-900 */
    --muted-foreground: 0 90.6% 70.78%; /* red-400 */

    --border: 0 62.82% 30.59%; /* red-900 */
  }

  .dark [data-type='warning'] {
    --background: 20.91 91.67% 14.12%; /* amber-950 */
    --foreground: 48 96.49% 88.82%; /* amber-100 */

    --primary: 48 100% 96.08%; /* amber-50 */
    --primary-foreground: 21.71 77.79% 26.47%; /* amber-900 */

    --muted: 21.71 77.79% 26.47%; /* amber-900 */
    --muted-foreground: 43.26 96.41% 56.27%; /* amber-400 */

    --border: 21.71 77.79% 26.47%; /* amber-900 */
  }

  .dark [data-type='success'] {
    --background: 144.88 80.39% 10%; /* green-950 */
    --foreground: 140.63 84.21% 92.55%; /* green-100 */

    --primary: 138.46 76.47% 96.67%; /* green-50 */
    --primary-foreground: 143.81 61.17% 20.2%; /* green-900 */

    --muted: 143.81 61.17% 20.2%; /* green-900 */
    --muted-foreground: 141.89 69.16% 58.04%; /* green-400 */

    --border: 143.81 61.17% 20.2%; /* green-900 */
  }

  .dark [data-type='info'] {
    --background: 226.23 57.01% 20.98%; /* blue-950 */
    --foreground: 214.29 94.59% 92.75%; /* blue-100 */

    --primary: 213.75 100% 96.86%; /* blue-50 */
    --primary-foreground: 224.44 64.29% 32.94%; /* blue-900 */

    --muted: 224.44 64.29% 32.94%; /* blue-900 */
    --muted-foreground: 213.12 93.9% 67.84%; /* blue-400 */

    --border: 224.44 64.29% 32.94%; /* blue-900 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
